<tt-header
  [hideActions]="
    user['role']['name'] == 'sponsor' || user['role']['name'] == 'admin'
  "
></tt-header>
<mat-toolbar color="primary">
  <span>Change Password</span>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button color="accent" [routerLink]="dashboardLink">
    Back to Dashboard
  </button>
</mat-toolbar>
<p></p>
<form (ngSubmit)="changePassword()" [formGroup]="changePwdFormGroup">
  <div class="change-pwd-container">
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Old Password"
        formControlName="oldPassword"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="New Password"
        formControlName="newPassword"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
    <!-- <button mat-raised-button>Clear</button> -->
    <!-- <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center stretch">
      <p>Back to <a href="" routerLink="/signin">Sign In</a></p>
  </div> -->
  </div>
</form>
