<tt-basic-header></tt-basic-header>
<mat-toolbar color="primary">
  <span>Reset Password</span>
</mat-toolbar>
<p></p>
<form
  *ngIf="!resetDone"
  (ngSubmit)="resetPassword()"
  [formGroup]="resetPwdFormGroup"
>
  <div class="change-pwd-container">
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="newPassword"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmation"
      />
    </mat-form-field>
    <button mat-raised-button color="primary">Reset Password</button>
    <!-- <button mat-raised-button>Clear</button> -->
    <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center stretch">
      <p>Back to <a href="" routerLink="/signin">Sign In</a></p>
    </div>
  </div>
</form>

<div *ngIf="resetDone" class="change-pwd-container">
  <p>
    Your password has been reset successfully. You may sigin with the new
    password.
  </p>
  <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center stretch">
    <p>Back to <a href="" routerLink="/signin">Sign In</a></p>
  </div>
</div>
