table {
  width: 100%;
}

mat-grid-tile mat-card {
  width: 80%;
}

mat-card p {
  margin-top: 24px;
}

/* mat-card-content mat-divider {
    margin-left: 12px;
    margin-right: 12px;
  } */

.heading-text {
  font-size: 2.4em;
}
.no-data img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.no-data {
  text-align: center;
}
