<div>
  <a ceiboShare [facebook]="{
      u: repoUrl,
      text: text,
      description: dec
    }">
    <img src="../../assets/social/facebook.png" alt="fb" class="socialimg" title="Facebook Share" /></a>
  <a ceiboShare [linkedIn]="{
      url: repoUrl,
      text: text,
      media: imageUrl,
      description: dec
    }">
    <img src="../../assets/social/linkedin.png" alt="in" class="socialimg" title="Linkedin Share" /></a>
  <a ceiboShare [twitter]="{
      url: repoUrl,
      text: text,
      description: dec
    }">
    <img src="../../assets/social/twitter.png" alt="tw" class="socialimg" title="Twitter Share" /></a>
  <a ceiboShare [pinterest]="{
      url: repoUrl,
      text: text,
      media: imageUrl,
      description: dec
    }">
    <img src="../../assets/social/pinterest.png" alt="pi" class="socialimg" title="Pinterest Share" />
  </a>
  <!-- <a>
    <mat-icon class="copy-link" matTooltip="Copy public link to clipboard">link</mat-icon>
  </a> -->

  <!-- <div class="dropdown">
    <img src="../../assets/social/more2.png" alt="pi" class="moreimg dropbtn" title="More" />
    <div class="dropdown-content">
      <div>
        <a href="javascript:void(0)"><img src="../../assets/social/google-plus.png" alt="google-plus" class="socialimg1"
            title="Google-plus" /></a>
        <a href="javascript:void(0)"><img src="../../assets/social/messenger.png" alt="messenger" class="socialimg1"
            title="Messenger" /></a>
        <a href="javascript:void(0)"><img src="../../assets/social/tumblr.png" alt="tumblr" class="socialimg1"
            title="Tumblr" /></a>
      </div>
      <div>
        <a class="insta" href="javascript:void(0)"><img src="../../assets/social/instagram.png" alt="instagram"
            class="socialimg1" title="Instagram" /></a>
        <a href="javascript:void(0)"><img src="../../assets/social/telegram.png" alt="telegram" class="socialimg1"
            title="Telegram" /></a>
      </div>
    </div>
  </div> -->
</div>