<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <meta property="og:title" content="<%= ogtitle %>" />
  <meta property="og:url" content="<%= ogurl %>" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%= ogdescription %>" />
  <meta property="og:image" content="<%= ogimg %>" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="<%= ogtitle %>" />
  <meta name="twitter:description" content="<%= ogdescription %>" />
  <meta name="twitter:url" content="<%= ogurl %>" />
  <meta name="twitter:image" content="<%= ogimg %>" />
  
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <app-root></app-root>
</body>
</html>
