.left-panel {
  background-color: #f06b4e;
  color: white;
}

.left-panel img {
  width: 80%;
}

.large-text {
  font-size: 4em;
}

.medium-text {
  font-size: 1.2em;
}

.stretch-2-col {
  width: 100%;
}

.full-width {
  width: 100%;
}

a {
  color: #f06b4e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.heading-text {
  font-size: 2.4em;
}
