<tt-basic-header></tt-basic-header>
<mat-toolbar color="primary">
  <span>Forgot Password</span>
</mat-toolbar>
<p></p>
<form
  *ngIf="!emailSent"
  (ngSubmit)="onSubmit()"
  [formGroup]="forgotPwdFormGroup"
>
  <div class="change-pwd-container">
    <mat-form-field>
      <input
        matInput
        required
        email
        placeholder="Enter your registered email"
        formControlName="email"
      />
      <mat-error *ngIf="forgotPwdFormGroup.get('email').hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="forgotPwdFormGroup.get('email').hasError('email')">
        Invalid Email (try e.g. abc@xyz.com)
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="forgotPwdFormGroup.status == 'INVALID'"
    >
      Reset
    </button>
    <!-- <button mat-raised-button>Clear</button> -->
    <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center stretch">
      <p>Back to <a href="" routerLink="/signin">Sign In</a></p>
    </div>
  </div>
</form>
<div
  *ngIf="emailSent"
  fxLayout="column"
  fxLayoutAlign="center stretch"
  class="row signup-success change-pwd-container"
>
  <div
    class="heading-text orange-text"
    fxLayout="row"
    fxLayoutGap="40px"
    fxLayoutAlign="center stretch"
  >
    Email Sent!
  </div>
  <p></p>
  <p>
    An email with reset password link has been sent to your email address.
    Please follow the instructions to reset your password.
  </p>

  <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center stretch">
    <p>Already reset? <a href="" routerLink="/signin">Sign In</a></p>
  </div>
</div>
